@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.quill {
  background: white;
  margin-top: 3%;
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 5%;
}

.submit {
  margin: 10px;
  display: inline-block;
  float: right;
  font-family: 'Quicksand', sans-serif;
}


.editBox{
    display: block;
    text-align: center;
    margin: 0px;
       
}

.editTable{
    margin-top: 10px;
    float: center;
    margin-left:auto; 
    margin-right:auto;
    
}
.editForm{
    display: inline-block;


    
}
.form{
    display: inline-block;
    text-align: center;
    height: 100px;
    width: 500px;

}

.input1{
    display: block;
    height: 100%;
    



}

.input{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    height: 100%;
    width: 10000%;
    margin-top:5px;
    margin-bottom: 5px;

}

.button1{
    margin-bottom: 10%;
}