@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.main {
  height: 100vh;
  background: #e2e6e6;
}

.quill {
  background: white;
  margin-top: 3%;
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 5%;
}

.submit {
  margin: 10px;
  display: inline-block;
  float: right;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 5%;
}