@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.quill {
  background: white;
  margin-top: 3%;
}

.toH1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 40px;
  padding-top: 30px;
}

.submit {
  margin: 10px;
  display: inline-block;
  float: right;
  font-family: 'Quicksand', sans-serif;
}

.lato, .fancy {
  /* color: white; */
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.col1{
    float:right;
    text-align: center;
    background: #c1e1ec;
    padding: 10px;
    margin-top:80px;
    border-radius: 25px;

}
.elements{
    padding: 10px;
    display: block;
}


.screen {
  height: 85vh;
  position: relative;
  background-size: cover;
  background-image: url(./wallpaper.jpg);
}

.input2{
    display: block;
    text-align: center;
    vertical-align: top;
    height: 100%;
    width: 10000%;
    margin-top:5px;
    margin-bottom: 5px;

}


.button1{
    margin-bottom: 10%;
}

.rocket {
  width: 30%;
}