@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


.button1{
    margin-bottom: 10%;
}

.col2{
    float:right;
    text-align: center;
    background: white;
    padding: 10px;
    margin-top:20px;
    margin-right: 100px;
    border-radius: 25px;
    width: 25%;


}
.elements2{
    padding: 10px;
    margin-right: 40px;
    margin-left: 40px;
}