@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


.button1{
    margin-bottom: 10%;
}

.col2{
    text-align: center;
    background: white;
    padding: 10px;
    margin-top:20px;
    margin-right: 100px;
    border-radius: 25px;
}

.signup-text {
    font-size: 20pt;
    font-family: 'Nunito Sans', sans-serif;
}

.elements2{
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
}

.screen_signup {
    height: 200vh;
    position: relative;
    background-size: cover;
    background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4) 100%,
    rgba(255, 255, 255, 0.7) 100%
    ),
    url(../SignIn/wallpaper.jpg);
}

.signupbtn {
    /* background-color: rgb(131, 208, 195); */
    background-color: rgb(119, 166, 247);
}