@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.quill {
  background: white;
  margin-top: 3%;
}

h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 5%;
}

.submit {
  margin: 10px;
  display: inline-block;
  float: right;
  font-family: 'Quicksand', sans-serif;
}


.editBox{
    display: block;
    text-align: center;
    margin: 0px;
       
}

.editTable{
    margin-top: 25px;
    float: center;
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 3cm 10px;
    border-collapse: separate;
    text-align: left;
    
}

.cell{
    font-weight: bold;
    margin-top: 25px;
}


.editForm{
    display: inline-block;


    
}
.form{
    display: inline-block;
    height: 100px;
    width: 500px;

}

.input2{
    display: block;
    height: 100%;  
    width: 300px;
    text-align: center;

}


.button1{
    margin-bottom: 10%;
}