.card{
    position: relative;
    display: inline-block;
    flex-direction: column;
    min-width: 0;
    border-radius: .25rem;
    width: 50%;
    padding-bottom: 2em; 
    
}


.cardHeader{
    padding: 1.5%;
    margin-bottom: 0;
    background-color: grey;
    text-align: center;
}

.cardBody{
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}



.form-label{
    display: inline-block;
    padding: 10% 0%;
}
.label1{
    text-align: center;
}

.centerDiv{
    text-align: center;
    padding-top: 5%;
}

.centerDiv2{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.tabs{
    display: inline-block;
    width: 50%;
}

.ideaFont{
    font-size: x-large;
}