@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.quill {
  background: white;
  margin-top: 3%;
}
/* 
h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 5%;
} */



.wrapper {
    display: block;
    text-align: center;
    margin: 20px;
     
}

.cardTitle{
    text-align: center;
}


.cardStyle{
   list-style:none;
}

.card1{
    text-align: center;
    
}

.cardImage {
    padding-top: 10px;
    width:auto;/* you can use % */
    height: 200px;
    margin:auto;
}